:root {
  /* Fonts */
  --primary-font-family: 'Roboto';
  --logo-font-family: 'Raleway';

  /* Text colors */
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --secondary-text-color: #ffffff;
  --footer-text-color: rgba(255, 255, 255, 0.6);
  --rare-text-color: #000000;
  --accent-color: #2196f3;
  --primary-logo-color: #afb1b8;

  /* BG colors */
  --button-active-color: #188ce8;
  --primary-bgc: #ffffff;
  --secondary-bgc: #2f303a;
  --hero-bgc: #c4c4c4;
  --team-bgc: #f5f4fa;
  --works-bgc: rgba(47, 48, 58, 0.8);
  --footer-logo-bgc: rgba(255, 255, 255, 0.1);
  --backdrop-bgc: rgba(0, 0, 0, 0.2);
  --portfolio-overlay-bgc: rgba(33, 150, 243, 0.9);

  /* Border colors */
  --header-border-color: #ececec;
  --portfolio-list-item-border-color: #eeeeee;
  --close-cross-border-color: rgba(0, 0, 0, 0.1);

  /* Others */
  --indent: 30px;
  --items: 3;
  --anim-cubic: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* Base styles */
body {
  color: var(--primary-text-color);
  background-color: var(--primary-bgc);
  font-family: var(--primary-font-family), sans-serif;
  letter-spacing: 0.03em;
}

/* Reset start */
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

.link {
  text-decoration: none;
  color: currentColor;
}

.list {
  list-style: none;
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}
/* Reset end */

/* Card set */
.card-set {
  display: flex;
  flex-wrap: wrap;
  gap: var(--indent);
}

.card-set-item {
  flex-basis: calc((100% - var(--indent) * (var(--items) - 1)) / var(--items));
}

/* <!-- Шапка сайту -- >  */
.header {
  border-bottom: 1px solid var(--header-border-color);
}

.logo {
  color: var(--rare-text-color);
  font-family: var(--logo-font-family), sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: calc(31 / 26);

  transition: color var(--anim-cubic);
}

.link.logo:hover,
.link.logo:focus {
  color: var(--accent-color);
}

.logo-part {
  color: var(--accent-color);
}

.header .logo {
  padding: 24px 0;
  margin-right: 93px;
}

.header .container,
.site-nav,
.contacts.list {
  display: flex;
  align-items: center;
}

.site-nav .list-item:not(:last-child) {
  margin-right: 50px;
}

.contacts.list {
  margin-left: auto;
}

.site-nav.list .link {
  position: relative;

  padding: 32px 0 31px 0;

  color: var(--title-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.02em;

  transition: color var(--anim-cubic);
}

.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--accent-color);
}

.site-nav .link.current {
  color: var(--accent-color);
}

.link.current::after {
  content: '';

  position: absolute;
  left: 0;
  bottom: -1px;
  width: 100%;
  height: 4px;
  border-radius: 2px;

  background-color: var(--accent-color);
}

.contacts .list-item:not(:last-child) {
  margin-right: 30px;
}

.contacts .link {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 32px 0 31px 0;

  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.02em;

  transition: color var(--anim-cubic);
}

.contacts .link:hover,
.contacts .link:focus {
  color: var(--accent-color);
}

.contacts-icon {
  fill: currentColor;
}

/* <!-- Герой --> */
.hero {
  padding-top: 200px;
  padding-bottom: 200px;
  margin: 0 auto;
  max-width: 1600px;

  background-color: var(--hero-bgc);
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(../images/hero-bg.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.hero-title {
  width: 696px;
  margin: 0 auto 30px auto;

  color: var(--secondary-text-color);
  font-weight: 900;
  font-size: 44px;
  line-height: calc(60 / 44);
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

/* <!-- Секція Особливості (скритий заголовок)--> */
.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.section.features {
  padding-bottom: 0;
}

.container {
  width: 1200px;
  padding-right: 15px;
  padding-left: 15px;
  margin-left: auto;
  margin-right: auto;
}

.features.list {
  display: flex;
  align-items: flex-start;
}

.features .list-item:not(:last-child) {
  margin-right: 30px;
}

.section-title {
  margin-bottom: 50px;

  color: var(--title-text-color);
}

.features .section-title,
.works .section-title,
.team .section-title,
.clients .section-title {
  font-weight: 700;
  font-size: 36px;
  line-height: calc(42 / 36);
  text-align: center;
}

.features-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 120px;
  border-radius: 4px;
  margin-bottom: 30px;
  background-color: var(--team-bgc);
}

.section .subtitle {
  color: var(--title-text-color);
}

.features .subtitle {
  margin-bottom: 10px;

  font-weight: 700;
  font-size: 14px;
  line-height: calc(16 / 14);
  text-transform: uppercase;
}

.features .text {
  width: 270px;

  font-size: 14px;
  line-height: calc(24 / 14);
}

/* Секція Чим ми займаємось */
.works.list {
  display: flex;
  align-items: center;
}

.works .list-item {
  position: relative;
}

.works .list-item:not(:last-child) {
  margin-right: 30px;
}

.overlay {
  position: absolute;
  bottom: 0;

  width: 100%;
  padding-top: 27px;
  padding-bottom: 27px;

  background-color: var(--works-bgc);
}

.overlay .text {
  font-weight: 700;
  font-size: 14px;
  line-height: calc(16 / 14);
  text-align: center;
  text-transform: uppercase;
  color: var(--secondary-text-color);
}

/* <!-- Секція Наша команда --> */
.section.team {
  background-color: var(--team-bgc);
}

.team.list {
  background-color: var(--team-bgc);
}

.team.list > .list-item {
  width: 270px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;

  background-color: var(--primary-bgc);
}

.team-container {
  padding: 30px 32px;
}

.team.list {
  display: flex;
  align-items: center;
}

.team.list > .list-item:not(:last-child) {
  margin-right: 30px;
}

.team .subtitle {
  margin-bottom: 10px;

  font-weight: 500;
  font-size: 16px;
  line-height: calc(19 / 16);
  text-align: center;
}

.team .text {
  margin-bottom: 16px;

  font-size: 16px;
  line-height: calc(19 / 16);
  text-align: center;
}

.team-container .social-links.list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.social-links .list-item {
  width: 44px;
  height: 44px;
}

.social-links .link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  border-radius: 50%;

  background-color: var(--primary-bgc);
  color: var(--primary-logo-color);

  transition: background-color var(--anim-cubic), color var(--anim-cubic);
}

.social-links .link:hover,
.social-links .link:focus {
  background-color: var(--accent-color);
  color: var(--secondary-text-color);
}

.social-links-icon {
  fill: currentColor;
}

/* Секція Постійні клієнти */

.clients.list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.clients .list-item {
  width: 170px;
  height: 92px;
}

.clients .link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  border: 1px solid var(--primary-logo-color);
  border-radius: 4px;

  color: var(--primary-logo-color);

  transition: border-color var(--anim-cubic), color var(--anim-cubic);
}

.clients .link:hover,
.clients .link:focus {
  border-color: var(--accent-color);
  color: var(--accent-color);
}

.client-icon {
  fill: currentColor;
}

/* <!-- Підвал --> */
.footer {
  padding-top: 60px;
  padding-bottom: 60px;

  background-color: var(--secondary-bgc);
}

.footer .container {
  display: flex;
  align-items: baseline;
}

.container-adress {
  margin-right: 95px;
}

.footer .logo {
  color: var(--secondary-text-color);
}

.footer .link.logo {
  display: inline-block;

  margin-bottom: 20px;
}

.address .link.post {
  color: var(--secondary-text-color);
}

.address .link {
  display: inline-block;
  margin-bottom: 9px;

  color: var(--footer-text-color);

  transition: color var(--anim-cubic);
}

.address .link.tel {
  margin-bottom: 0;
}

.address .link:hover,
.address .link:focus {
  color: var(--accent-color);
}

.address.list {
  font-style: normal;
  font-size: 14px;
  line-height: calc(24 / 14);
}

.follow {
  margin-bottom: 20px;

  font-weight: 700;
  font-size: 14px;
  line-height: calc(16 / 14);
  text-transform: uppercase;
  color: var(--secondary-text-color);
}

.container-follow .social-links.list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.container-follow .link {
  background-color: var(--footer-logo-bgc);
  color: var(--secondary-text-color);

  transition: background-color var(--anim-cubic), color var(--anim-cubic);
}

/* Модальне вікно */
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--backdrop-bgc);
  opacity: 1;
  visibility: visible;
  perspective: 600px;
  transition: opacity var(--anim-cubic), visibility var(--anim-cubic);
}

.backdrop.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

/* TODO: перевірити padding на наступному ДЗ */
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  width: 528px;
  min-height: 581px;
  padding: 15px;

  background-color: var(--primary-bgc);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;

  transition: opacity var(--anim-cubic), transform var(--anim-cubic);
}

.backdrop.is-hidden .modal {
  opacity: 0;
  transform: translate(-50%, -50%) scale(0) rotateY(90deg);
}

.close-cross-icon {
  fill: currentColor;
}

/* Кнопки */
.button {
  padding: 0;

  color: var(--primary-text-color);
  background-color: var(--primary-bgc);
  cursor: pointer;
  font-family: inherit;
}

.button.hero {
  display: block;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  min-width: 216px;
  min-height: 50px;
  border: none;
  border-radius: 4px;
  padding: 10px 32px;
  margin: 0 auto;

  background-color: var(--accent-color);
  background-image: none;
  color: var(--secondary-text-color);
  font-weight: 700;
  font-size: 16px;
  line-height: calc(30 / 16);
  letter-spacing: 0.06em;

  transition: background-color var(--anim-cubic);
}

.button.hero:hover,
.button.hero:focus {
  background-color: var(--button-active-color);
}

.button.close-cross {
  position: absolute;
  top: 8px;
  right: 8px;

  display: inline-flex;
  align-items: center;
  justify-content: center;

  width: 30px;
  height: 30px;
  background-color: transparent;
  border-radius: 50%;
  border: 1px solid var(--close-cross-border-color);

  transition: border-color var(--anim-cubic), color var(--anim-cubic);
}

.button.close-cross:hover,
.button.close-cross:focus {
  color: var(--accent-color);
}
/* Секція Портфоліо */
.button.primary {
  min-width: 73px;
  min-height: 38px;
  border: none;
  border-radius: 4px;
  padding: 6px 22px;

  color: var(--title-text-color);
  background-color: var(--team-bgc);
  font-weight: 500;
  font-size: 16px;
  line-height: calc(26 / 16);
  letter-spacing: 0.03em;

  transition: background-color var(--anim-cubic), color var(--anim-cubic),
    box-shadow var(--anim-cubic);
}

.button.primary:hover,
.button.primary:focus {
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);

  color: var(--secondary-text-color);
  background-color: var(--accent-color);
}

.portfolio.card-set-item {
  display: inline-flex;
}

.portfolio .link {
  transition: box-shadow var(--anim-cubic);
}

.portfolio .link:hover,
.portfolio .link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.portfolio-thumb {
  position: relative;
  overflow: hidden;
}

.portfolio-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  padding: 63px 24px;
  background-color: var(--portfolio-overlay-bgc);
  color: var(--secondary-text-color);
  font-size: 18px;
  line-height: calc(28 / 18);

  user-select: none;

  transform: translateY(100%);
  transition-property: transform;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio .link:hover .portfolio-overlay,
.portfolio .link:focus .portfolio-overlay {
  transform: translateY(0);
}

.portfolio-container {
  padding: 19px 23px;
  border: 1px solid var(--portfolio-list-item-border-color);
}

.portfolio-button.list {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin-bottom: 50px;
}

.portfolio-button .list-item:not(:last-child) {
  margin-right: 8px;
}

.portfolio .subtitle {
  margin-bottom: 4px;

  font-weight: 700;
  font-size: 18px;
  line-height: calc(36 / 18);
  letter-spacing: 0.06em;
}

.portfolio .text {
  color: var(--primary-text-color);
  font-size: 16px;
  line-height: calc(30 / 16);
}
